body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.External{
  font-family: 'Arya', sans-serif;
  font-size: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carousel{
  max-height: 550px;
}

.colurhunttop{
   background-color: #41644A;
}

.Cardbody{
  background-color: #dad9c8d7;
}

.footerbackground{
  background-color: #263A29;
}

/* #c5c3a2d7 */

/* A0C49D */

/* C4D7B2 */

/* 41644A */

/* 477e42 */